PROJECT_NAME=Online Cinema API
API_V1_PREFIX=/api/v1
# PostgreSQL
POSTGRES_USER=online_cinema
POSTGRES_PASSWORD=online_cinema_password
POSTGRES_DB=online_cinema
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://online_cinema:online_cinema_password@localhost:5432/online_cinema
ALEMBIC_DATABASE_URL=postgresql+psycopg://online_cinema:online_cinema_password@localhost:5432/online_cinema
# Redis / Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_TASK_ALWAYS_EAGER=false
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
